<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FindDoctor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FindDoctorArchive.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>doctor.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3ED8563D1A9376D400516900</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC2B3DC01C32859E0062AC17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC2F40D01D01774B00943506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC2F40D41D01778800943506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC2F40D81D0177B400943506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC2F40E01D01783C00943506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC2F40ED1D01785400943506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC2F41051D01785400943506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC2F41101D01785400943506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC2F41211D01787500943506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC5937DB1C40DB1E00ECA926</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E10706DF1B0E2F2F0048FAB8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
